@page
@model RazorPagesSample.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<partial name="Partials/_FilterPartial.cshtml" for="@Model" />
<partial name="Partials/_GridPartial.cshtml" for="@Model" />
<vc:pagination page-index="@Model.Movie.PageIndex" page-size="@Model.PageSize" current-filter="@Model.CurrentFilter" current-sort="@Model.CurrentSort" has-previous-page="@Model.Movie.HasPreviousPage" has-next-page="@Model.Movie.HasNextPage"></vc:pagination>
